
packages/System.Buffers.4.5.1/lib/net461/System.Buffers.xml
*.nupkg
packages/System.ValueTuple.4.5.0/version.txt
packages/System.ValueTuple.4.5.0/useSharedDesignerContext.txt
packages/System.ValueTuple.4.5.0/THIRD-PARTY-NOTICES.TXT
packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/_._
packages/System.ValueTuple.4.5.0/ref/xamarintvos10/_._
packages/System.ValueTuple.4.5.0/ref/xamarinmac20/_._
packages/System.ValueTuple.4.5.0/ref/xamarinios10/_._
packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/_._
packages/System.ValueTuple.4.5.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/ref/netstandard2.0/_._
packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/_._
packages/System.ValueTuple.4.5.0/ref/net47/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/ref/net461/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/ref/MonoTouch10/_._
packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/_._
packages/System.ValueTuple.4.5.0/LICENSE.TXT
packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/_._
packages/System.ValueTuple.4.5.0/lib/xamarintvos10/_._
packages/System.ValueTuple.4.5.0/lib/xamarinmac20/_._
packages/System.ValueTuple.4.5.0/lib/xamarinios10/_._
packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/_._
packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/netstandard2.0/_._
packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/_._
packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/MonoTouch10/_._
packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/_._
packages/System.ValueTuple.4.5.0/.signature.p7s
packages/System.Threading.Tasks.Extensions.4.5.4/version.txt
packages/System.Threading.Tasks.Extensions.4.5.4/useSharedDesignerContext.txt
packages/System.Threading.Tasks.Extensions.4.5.4/THIRD-PARTY-NOTICES.TXT
packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinwatchos10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarintvos10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinmac20/_._
packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinios10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/ref/netcoreapp2.1/_._
packages/System.Threading.Tasks.Extensions.4.5.4/ref/MonoTouch10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/ref/MonoAndroid10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/LICENSE.TXT
packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinwatchos10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarintvos10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinmac20/_._
packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinios10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.xml
packages/System.Threading.Tasks.Extensions.4.5.4/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.dll
packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard2.0/System.Threading.Tasks.Extensions.xml
packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard2.0/System.Threading.Tasks.Extensions.dll
packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard1.0/System.Threading.Tasks.Extensions.xml
packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard1.0/System.Threading.Tasks.Extensions.dll
packages/System.Threading.Tasks.Extensions.4.5.4/lib/netcoreapp2.1/_._
packages/System.Threading.Tasks.Extensions.4.5.4/lib/net461/System.Threading.Tasks.Extensions.xml
packages/System.Threading.Tasks.Extensions.4.5.4/lib/net461/System.Threading.Tasks.Extensions.dll
packages/System.Threading.Tasks.Extensions.4.5.4/lib/MonoTouch10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/lib/MonoAndroid10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/.signature.p7s
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/version.txt
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/useSharedDesignerContext.txt
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/THIRD-PARTY-NOTICES.TXT
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.1/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.1/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/net461/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/net461/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/LICENSE.TXT
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/net45/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/net45/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/Icon.png
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/.signature.p7s
packages/System.Numerics.Vectors.4.5.0/version.txt
packages/System.Numerics.Vectors.4.5.0/useSharedDesignerContext.txt
packages/System.Numerics.Vectors.4.5.0/THIRD-PARTY-NOTICES.TXT
packages/System.Numerics.Vectors.4.5.0/ref/xamarinwatchos10/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarintvos10/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarinmac20/_._
packages/System.Numerics.Vectors.4.5.0/ref/xamarinios10/_._
packages/System.Numerics.Vectors.4.5.0/ref/uap10.0.16299/_._
packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/ref/MonoTouch10/_._
packages/System.Numerics.Vectors.4.5.0/ref/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.5.0/LICENSE.TXT
packages/System.Numerics.Vectors.4.5.0/lib/xamarinwatchos10/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarintvos10/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarinmac20/_._
packages/System.Numerics.Vectors.4.5.0/lib/xamarinios10/_._
packages/System.Numerics.Vectors.4.5.0/lib/uap10.0.16299/_._
packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.5.0/lib/MonoTouch10/_._
packages/System.Numerics.Vectors.4.5.0/lib/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.5.0/.signature.p7s
packages/System.Memory.4.5.4/version.txt
packages/System.Memory.4.5.4/useSharedDesignerContext.txt
packages/System.Memory.4.5.4/THIRD-PARTY-NOTICES.TXT
packages/System.Memory.4.5.4/ref/netcoreapp2.1/_._
packages/System.Memory.4.5.4/LICENSE.TXT
packages/System.Memory.4.5.4/lib/netstandard2.0/System.Memory.xml
packages/System.Memory.4.5.4/lib/netstandard2.0/System.Memory.dll
packages/System.Memory.4.5.4/lib/netstandard1.1/System.Memory.xml
packages/System.Memory.4.5.4/lib/netstandard1.1/System.Memory.dll
packages/System.Memory.4.5.4/lib/netcoreapp2.1/_._
packages/System.Memory.4.5.4/lib/net461/System.Memory.xml
packages/System.Memory.4.5.4/lib/net461/System.Memory.dll
packages/System.Memory.4.5.4/.signature.p7s
packages/System.Diagnostics.DiagnosticSource.5.0.1/version.txt
packages/System.Diagnostics.DiagnosticSource.5.0.1/useSharedDesignerContext.txt
packages/System.Diagnostics.DiagnosticSource.5.0.1/THIRD-PARTY-NOTICES.TXT
packages/System.Diagnostics.DiagnosticSource.5.0.1/LICENSE.TXT
packages/System.Diagnostics.DiagnosticSource.5.0.1/lib/portable-net45+win8+wpa81/System.Diagnostics.DiagnosticSource.xml
packages/System.Diagnostics.DiagnosticSource.5.0.1/lib/portable-net45+win8+wpa81/System.Diagnostics.DiagnosticSource.dll
packages/System.Diagnostics.DiagnosticSource.5.0.1/lib/netstandard1.3/System.Diagnostics.DiagnosticSource.xml
packages/System.Diagnostics.DiagnosticSource.5.0.1/lib/netstandard1.3/System.Diagnostics.DiagnosticSource.dll
packages/System.Diagnostics.DiagnosticSource.5.0.1/lib/netstandard1.1/System.Diagnostics.DiagnosticSource.xml
packages/System.Diagnostics.DiagnosticSource.5.0.1/lib/netstandard1.1/System.Diagnostics.DiagnosticSource.dll
packages/System.Diagnostics.DiagnosticSource.5.0.1/lib/net5.0/System.Diagnostics.DiagnosticSource.xml
packages/System.Diagnostics.DiagnosticSource.5.0.1/lib/net5.0/System.Diagnostics.DiagnosticSource.dll
packages/System.Diagnostics.DiagnosticSource.5.0.1/lib/net46/System.Diagnostics.DiagnosticSource.xml
packages/System.Diagnostics.DiagnosticSource.5.0.1/lib/net46/System.Diagnostics.DiagnosticSource.dll
packages/System.Diagnostics.DiagnosticSource.5.0.1/lib/net45/System.Diagnostics.DiagnosticSource.xml
packages/System.Diagnostics.DiagnosticSource.5.0.1/lib/net45/System.Diagnostics.DiagnosticSource.dll
packages/System.Diagnostics.DiagnosticSource.5.0.1/Icon.png
packages/System.Diagnostics.DiagnosticSource.5.0.1/.signature.p7s
packages/System.Buffers.4.5.1/version.txt
packages/System.Buffers.4.5.1/useSharedDesignerContext.txt
packages/System.Buffers.4.5.1/THIRD-PARTY-NOTICES.TXT
packages/System.Buffers.4.5.1/ref/uap10.0.16299/_._
packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.xml
packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.dll
packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.xml
packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.5.1/ref/netcoreapp2.0/_._
packages/System.Buffers.4.5.1/ref/net45/System.Buffers.xml
packages/System.Buffers.4.5.1/ref/net45/System.Buffers.dll
packages/System.Buffers.4.5.1/LICENSE.TXT
packages/System.Buffers.4.5.1/lib/uap10.0.16299/_._
packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.xml
packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.dll
packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.xml
packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.5.1/lib/netcoreapp2.0/_._
packages/System.Buffers.4.5.1/lib/net461/System.Buffers.dll
packages/System.Buffers.4.5.1/.signature.p7s
packages/Microsoft.Extensions.Primitives.5.0.1/version.txt
packages/Microsoft.Extensions.Primitives.5.0.1/useSharedDesignerContext.txt
packages/Microsoft.Extensions.Primitives.5.0.1/THIRD-PARTY-NOTICES.TXT
packages/Microsoft.Extensions.Primitives.5.0.1/LICENSE.TXT
packages/Microsoft.Extensions.Primitives.5.0.1/lib/netstandard2.0/Microsoft.Extensions.Primitives.xml
packages/Microsoft.Extensions.Primitives.5.0.1/lib/netstandard2.0/Microsoft.Extensions.Primitives.dll
packages/Microsoft.Extensions.Primitives.5.0.1/lib/netcoreapp3.0/Microsoft.Extensions.Primitives.xml
packages/Microsoft.Extensions.Primitives.5.0.1/lib/netcoreapp3.0/Microsoft.Extensions.Primitives.dll
packages/Microsoft.Extensions.Primitives.5.0.1/lib/net461/Microsoft.Extensions.Primitives.xml
packages/Microsoft.Extensions.Primitives.5.0.1/lib/net461/Microsoft.Extensions.Primitives.dll
packages/Microsoft.Extensions.Primitives.5.0.1/Icon.png
packages/Microsoft.Extensions.Primitives.5.0.1/.signature.p7s
packages/Microsoft.Extensions.Options.5.0.0/version.txt
packages/Microsoft.Extensions.Options.5.0.0/useSharedDesignerContext.txt
packages/Microsoft.Extensions.Options.5.0.0/THIRD-PARTY-NOTICES.TXT
packages/Microsoft.Extensions.Options.5.0.0/LICENSE.TXT
packages/Microsoft.Extensions.Options.5.0.0/lib/netstandard2.0/Microsoft.Extensions.Options.xml
packages/Microsoft.Extensions.Options.5.0.0/lib/netstandard2.0/Microsoft.Extensions.Options.dll
packages/Microsoft.Extensions.Options.5.0.0/lib/net5.0/Microsoft.Extensions.Options.xml
packages/Microsoft.Extensions.Options.5.0.0/lib/net5.0/Microsoft.Extensions.Options.dll
packages/Microsoft.Extensions.Options.5.0.0/lib/net461/Microsoft.Extensions.Options.xml
packages/Microsoft.Extensions.Options.5.0.0/lib/net461/Microsoft.Extensions.Options.dll
packages/Microsoft.Extensions.Options.5.0.0/Icon.png
packages/Microsoft.Extensions.Options.5.0.0/.signature.p7s
packages/Microsoft.Extensions.Logging.Abstractions.5.0.0/version.txt
packages/Microsoft.Extensions.Logging.Abstractions.5.0.0/useSharedDesignerContext.txt
packages/Microsoft.Extensions.Logging.Abstractions.5.0.0/THIRD-PARTY-NOTICES.TXT
packages/Microsoft.Extensions.Logging.Abstractions.5.0.0/LICENSE.TXT
packages/Microsoft.Extensions.Logging.Abstractions.5.0.0/lib/netstandard2.0/Microsoft.Extensions.Logging.Abstractions.xml
packages/Microsoft.Extensions.Logging.Abstractions.5.0.0/lib/netstandard2.0/Microsoft.Extensions.Logging.Abstractions.dll
packages/Microsoft.Extensions.Logging.Abstractions.5.0.0/lib/net461/Microsoft.Extensions.Logging.Abstractions.xml
packages/Microsoft.Extensions.Logging.Abstractions.5.0.0/lib/net461/Microsoft.Extensions.Logging.Abstractions.dll
packages/Microsoft.Extensions.Logging.Abstractions.5.0.0/Icon.png
packages/Microsoft.Extensions.Logging.Abstractions.5.0.0/.signature.p7s
packages/Microsoft.Extensions.Logging.5.0.0/version.txt
packages/Microsoft.Extensions.Logging.5.0.0/useSharedDesignerContext.txt
packages/Microsoft.Extensions.Logging.5.0.0/THIRD-PARTY-NOTICES.TXT
packages/Microsoft.Extensions.Logging.5.0.0/LICENSE.TXT
packages/Microsoft.Extensions.Logging.5.0.0/lib/netstandard2.1/Microsoft.Extensions.Logging.xml
packages/Microsoft.Extensions.Logging.5.0.0/lib/netstandard2.1/Microsoft.Extensions.Logging.dll
packages/Microsoft.Extensions.Logging.5.0.0/lib/netstandard2.0/Microsoft.Extensions.Logging.xml
packages/Microsoft.Extensions.Logging.5.0.0/lib/netstandard2.0/Microsoft.Extensions.Logging.dll
packages/Microsoft.Extensions.Logging.5.0.0/lib/net461/Microsoft.Extensions.Logging.xml
packages/Microsoft.Extensions.Logging.5.0.0/lib/net461/Microsoft.Extensions.Logging.dll
packages/Microsoft.Extensions.Logging.5.0.0/Icon.png
packages/Microsoft.Extensions.Logging.5.0.0/.signature.p7s
packages/Microsoft.Extensions.DependencyInjection.Abstractions.5.0.0/version.txt
packages/Microsoft.Extensions.DependencyInjection.Abstractions.5.0.0/useSharedDesignerContext.txt
packages/Microsoft.Extensions.DependencyInjection.Abstractions.5.0.0/THIRD-PARTY-NOTICES.TXT
packages/Microsoft.Extensions.DependencyInjection.Abstractions.5.0.0/LICENSE.TXT
packages/Microsoft.Extensions.DependencyInjection.Abstractions.5.0.0/lib/netstandard2.0/Microsoft.Extensions.DependencyInjection.Abstractions.xml
packages/Microsoft.Extensions.DependencyInjection.Abstractions.5.0.0/lib/netstandard2.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
packages/Microsoft.Extensions.DependencyInjection.Abstractions.5.0.0/lib/net461/Microsoft.Extensions.DependencyInjection.Abstractions.xml
packages/Microsoft.Extensions.DependencyInjection.Abstractions.5.0.0/lib/net461/Microsoft.Extensions.DependencyInjection.Abstractions.dll
packages/Microsoft.Extensions.DependencyInjection.Abstractions.5.0.0/Icon.png
packages/Microsoft.Extensions.DependencyInjection.Abstractions.5.0.0/.signature.p7s
packages/Microsoft.Extensions.DependencyInjection.5.0.1/version.txt
packages/Microsoft.Extensions.DependencyInjection.5.0.1/useSharedDesignerContext.txt
packages/Microsoft.Extensions.DependencyInjection.5.0.1/THIRD-PARTY-NOTICES.TXT
packages/Microsoft.Extensions.DependencyInjection.5.0.1/LICENSE.TXT
packages/Microsoft.Extensions.DependencyInjection.5.0.1/lib/netstandard2.1/Microsoft.Extensions.DependencyInjection.xml
packages/Microsoft.Extensions.DependencyInjection.5.0.1/lib/netstandard2.1/Microsoft.Extensions.DependencyInjection.dll
packages/Microsoft.Extensions.DependencyInjection.5.0.1/lib/netstandard2.0/Microsoft.Extensions.DependencyInjection.xml
packages/Microsoft.Extensions.DependencyInjection.5.0.1/lib/netstandard2.0/Microsoft.Extensions.DependencyInjection.dll
packages/Microsoft.Extensions.DependencyInjection.5.0.1/lib/net5.0/Microsoft.Extensions.DependencyInjection.xml
packages/Microsoft.Extensions.DependencyInjection.5.0.1/lib/net5.0/Microsoft.Extensions.DependencyInjection.dll
packages/Microsoft.Extensions.DependencyInjection.5.0.1/lib/net461/Microsoft.Extensions.DependencyInjection.xml
packages/Microsoft.Extensions.DependencyInjection.5.0.1/lib/net461/Microsoft.Extensions.DependencyInjection.dll
packages/Microsoft.Extensions.DependencyInjection.5.0.1/Icon.png
packages/Microsoft.Extensions.DependencyInjection.5.0.1/.signature.p7s
packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/version.txt
packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/useSharedDesignerContext.txt
packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/THIRD-PARTY-NOTICES.TXT
packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/LICENSE.TXT
packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib/netstandard2.1/Microsoft.Bcl.AsyncInterfaces.xml
packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib/netstandard2.1/Microsoft.Bcl.AsyncInterfaces.dll
packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.xml
packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.dll
packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib/net461/Microsoft.Bcl.AsyncInterfaces.xml
packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib/net461/Microsoft.Bcl.AsyncInterfaces.dll
packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/Icon.png
packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/.signature.p7s
packages/EasyModbusTCP.5.6.0/lib/net40/EasyModbus.xml
packages/EasyModbusTCP.5.6.0/lib/net40/EasyModbus.dll
packages/EasyModbusTCP.5.6.0/.signature.p7s
ModbusLibrary/bin/Debug/EasyModbus.dll
ModbusLibrary/bin/Debug/ModbusLibrary.dll
ModbusLibrary/bin/Debug/EasyModbus.xml
ModbusLibrary/bin/Debug/ModbusLibrary.pdb
*.cache
*.CopyComplete
*.pdb
ModbusLibrary/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ModbusLibrary/obj/Debug/ModbusLibrary.csproj.FileListAbsolute.txt
ModbusLibrary/obj/Debug/ModbusLibrary.dll
*.xml
*.config
ModbusTestConsole/bin/Debug/EasyModbus.dll
ModbusTestConsole/bin/Debug/ModbusTestConsole.exe
ModbusTestConsole/bin/Debug/ModbusTestConsole.exe.config
ModbusTestConsole2/bin/Debug/EasyModbus.dll
ModbusTestConsole2/bin/Debug/ModbusLibrary.dll
ModbusTestConsole2/bin/Debug/ModbusTestConsole2.exe
ModbusTestConsole2/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ModbusTestConsole2/obj/Debug/ModbusTestConsole2.csproj.FileListAbsolute.txt
ModbusTestConsole2/obj/Debug/ModbusTestConsole2.exe
ModbusUI/bin/Debug/ModbusUI.exe
ModbusUI/bin/Debug/ModbusLibrary.dll
ModbusUI/bin/Debug/EasyModbus.dll
ModbusTestConsole/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ModbusTestConsole/obj/Debug/ModbusTestConsole.csproj.FileListAbsolute.txt
ModbusTestConsole/obj/Debug/ModbusTestConsole.exe
*.resources
ModbusUI/obj/Debug/ModbusUI.exe
ModbusUI/obj/Debug/ModbusUI.csproj.FileListAbsolute.txt
ModbusUI/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
